<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login Page</title>
</head>
<body>
    <form action="/login" method="POST">
        <label label-for="email">Email </label>
        <input id="email" type="email" name="email" requiered>

        <br>
        <br>
         <label label-for="password">Password </label>
        <input id="password" type="password" name="password" requiered>

        <br>
        <br>
        {% if invalid_user %}
            <p style="color:red;"> Invalid Username or Password! </p>
        {% endif %}
        <button type="submit">Login</button>
        <div>
            Don't have an account?  <a href="/register">Signup here</a>
        </div>
    </form>
</body>
</html>